{% extends 'calc/layout.html' %}
{% block title %}
  О нас
{% endblock %}
{% block content %}
  <div class="about">
    <h3>
      Мы, команда проекта Math-X, приветсвуем вас на нашем сайте!
      Math-X - проект призванный помочь школьникам, студентам, обучающимся
      различных учебных заведений в освоении различных математических дисциплин.
      На сайте представлено несколько видов калькуляторов для самопроверки при решении
      математических примеров и задач. Также на сайте представлена краткая теория что,
      как мы надеемся, поможет лучше разобраться в вычислениях.
    </h3>
  </div>
{% endblock %}