{% extends 'calc/layout.html' %}
{% block title %}
  О нас
{% endblock %}
{% block content %}
  <div class="about">
    <p>Мы, команда проекта Math-X, приветсвуем вас на нашем сайте!</p>
    <p>Math-X - проект призванный помочь школьникам, студентам, обучающимся</p>
    <p>различных учебных заведений в освоении различных математических дисциплин.</p>
    <p>На сайте представлено несколько видов калькуляторов для самопроверки при решении</p>
    <p>математических примеров и задач. Также на сайте представлена краткая теория что,</p>
    <p>как мы надеемся, поможет лучше разобраться в вычислениях.</p>
  </div>
  <!-- <style>
    .about {
        float: left;
        color: #fff;
        text-align: center;
        width: 70%;
    }
  </style> -->
{% endblock %}