{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'calc/img/favicon.png' %}" type="image">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'calc/css/layout.css' %}">
    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <body>
    <aside>
      <div class="container">
        <a href="{% url 'main' %}">
          <img src="{% static 'calc/img/logo.png' %}">
        </a>
        <h3>КОМПЛЕКСНЫЕ ЧИСЛА</h3>
        <ul>
          <a href="{% url 'algcalc' %}">
            <li>Операции в алгебраической форме</li>
          </a>
          <a href="{% url 'algtotrig' %}">
            <li>Перевод из алгебраической формы в тригонометрическую</li>
          </a>
          <a href="{% url 'trigcalc' %}">
            <li>Операции в тригонометрической форме</li>
          </a>
        </ul>
        <footer class="border-top text-center py-3">
          <p>
            © 2023 Copyright Math-<span style="color:#ff6d00">X</span>
          </p>
          <a href="{% url 'about' %}">
            О нас
          </a>   
        </footer> 
      </div> 
    </aside>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>