<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MathX</title>
</head>
<body>
    <a href="{% url 'zconv' %}">Конвентер</a>
    <a href="{% url 'home' %}">Главная</a>
    <h1>MathX</h1>
    <p>Формат записи комплексного числа: z = x+iy,</p>
    <p>где</p>
    <p>x - действительная часть комплексного числа</p>
    <p>y - мнимая часть комлексного числа</p>
    <p>i - мнимая единица</p>
    <form action="result">
        <input type="text" name="znt1" placeholder="Введите комплексное число 1">
        <br>
        <br> 
        <input type="text" name="znt2" placeholder="Введите комплексное число 2">
        <br>
        <br>
        <button type="submit" name="mult">Mult</button>
        <button type="submit" name="div">Div</button>
        <br>
        <br> 
        <input type="text" name="znt" placeholder="Введите комплексное число 1">
        <br>
        <br> 
        <button type="submit" name="^">^</button>
        <button type="submit" name="sqrt">SQRT</button>
    
    </form>
    </div>
    
    <style>
      .center {
        margin: auto;
        width: 60%;
        border: 3px solid #a5addb;
        padding: 10px;
      }
    </style>
</body>
</html>