<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MathX</title>
</head>
<body>
    <h1>MathX</h1>
    <p>Формат записи комплексного числа: z = x+iy,</p>
    <p>где</p>
    <p>x - действительная часть комплексного числа</p>
    <p>y - мнимая часть комлексного числа</p>
    <p>i - мнимая единица</p>
    
    <form action="resultz">
        <input type="text" name="zin" placeholder="Введите комплексное число">
        <br>
        <br>
        <button type="submit" name="convert">Conv</button>

    
    </form>
    </div>
    
    <style>
      .center {
        margin: auto;
        width: 60%;
        border: 3px solid #a5addb;
        padding: 10px;
      }
    </style>
</body>
</html>