{% extends 'calc/layout.html' %}
{% block title %}
  Контакты
{% endblock %}
{% block content %}
  <div class="features">
    <form action="triganswer">
      {% csrf_token %}
      <input type="text" name="zr" placeholder="Введите модуль КЧ">
      <br>
      <br>
      <input type="text" name="zfi" placeholder="Введите аргумент КЧ">
      <br>
      <br>
      <input type="text" name="zn" placeholder="Введите степень"> 
      <button type="submit" name="exp">Возведение в степень</button>
    </form>
  </div>
{% endblock %}