{% extends 'calc/layout.html' %}
{% load static %}
{% block title %}
  Операции в тригонометрической форме
{% endblock %}
{% block content %}
<div class="features">
  <h3>Формат ввода комплексного числа:</h3>
  <img src="{% static 'calc/img/trigformat.png' %}">
  <form action="triganswer">
    {% csrf_token %}
    <input type="text" name="znt1" placeholder="Введите КЧ 1">
    <br>
    <br> 
    <input type="text" name="znt2" placeholder="Введите КЧ 2">
    <br>
    <br>
    <button type="submit" name="mult">Умножение</button>
    <button type="submit" name="div">Деление</button>
    <br>
    <br>
    <input type="text" name="zr" placeholder="Введите модуль КЧ">
    <br>
    <br>
    <input type="text" name="zfi" placeholder="Введите аргумент КЧ">
    <br>
    <br>
    <input type="text" name="zn" placeholder="Введите степень"> 
    <button type="submit" name="exp">Возведение в степень</button>
  </form>
  <img src="{% static 'calc/img/trigcalc.png' %}">
{% endblock %}

