{% extends 'calc/layout.html' %}
{% load static %}
{% block title %}
  Операции в тригонометрической форме
{% endblock %}
{% block content %}
<div class="features">
  <h3 style="color:#ff6d00">Ошибка в формате ввода</h3>
  <h3>Формат ввода комплексного числа:</h3>
  <img src="{% static 'calc/img/trigformat.png' %}">
  <form action="triganswer">
    {% csrf_token %}
    z = <input type="text" name="znt1" placeholder="2(cos(5) + isin(5))">
    <br>
    <br> 
    w = <input type="text" name="znt2" placeholder="3(cos(10) + isin(10))">
    <br>
    <br>
    <button type="submit" name="mult">Умножение</button>
    <button type="submit" name="div">Деление</button>
    <br>
    <br>
    <img src="{% static 'calc/img/trigcalcexp.png' %}">
    <br>
    <br>
    r = <input type="text" name="zr" placeholder="Введите модуль">
    <br>
    <br>
    φ = <input type="text" name="zfi" placeholder="Введите аргумент">
    <br>
    <br>
    n = <input type="text" name="zn" placeholder="Введите степень"> 
    <button type="submit" name="exp">Возведение в степень</button>
  </form>
  <img src="{% static 'calc/img/trigcalc.png' %}">
{% endblock %}