{% extends 'calc/layout.html' %}
{% load static %}
{% block title %}
  Перевод из алгебраической формы в тригонометрическую
{% endblock %}
{% block content %}
  <div class="features">
    <h3>Формат ввода комплексного числа:</h3>
    <h3>x + iy</h3>
    <form action="convz">
      {% csrf_token %}
      z = <input type="text" name="zin" placeholder="Например 15 + i5">
      <br>
      <br>
      <button type="submit" name="convert">Перевести</button>
      <br>
      <br>
    </form>
    <img src="{% static 'calc/img/algtotrig.png' %}">
  </div>
{% endblock %}
