{% extends 'calc/layout.html' %}
{% load static %}
{% block title %}
  Операции в алгебраической форме
{% endblock %}
{% block content %}
  <!-- <div class="im">
    <img src="{% static 'calc/img/algcalc.png' %}">
  </div> -->
  <div class="features">
    <img src="{% static 'calc/img/algcalc.png' %}">
    <form action="alganswer">
      z = <input type="text" name="zn1" placeholder="">
      <br>
      <br> 
      w = <input type="text" name="zn2" placeholder="">
      <br>
      <br>
      <button type="submit" name="sum">Сложение</button>
      <button type="submit" name="diff">Вычитание</button>
      <button type="submit" name="mult">Умножение</button>
      <button type="submit" name="div">Деление</button>
    </form>
  </div>
{% endblock %}

